---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: readme

"on":
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Hub readme
        uses: actionhippie/pushrm@v1
        with:
          provider: dockerhub
          target: webhippie/nodejs
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          description: Docker image for Nodejs
          readme: README.md

      - name: Quay readme
        uses: actionhippie/pushrm@v1
        with:
          provider: quay
          target: quay.io/webhippie/nodejs
          apikey: ${{ secrets.QUAY_APIKEY }}
          readme: README.md

...
